<tr>
  <td class="title"><%= @title %></td>
</tr>
<tr>
  <td class="body">
    <p>Hello <%= @name %>,</p>

    <b>Congrats, your team’s application was accepted so you are now officially a part of the Make or Break 2018 hackathon!</b>

    <p>Palácio dos Correios</a>.</p>

    <p>info@makeorbreak.io</a>.</p>

    <p>
      Good luck and see you in Porto!
      <br />
    Make or Break team</p>
  </td>
</tr>
